{% extends "hashtags/base.html" %}
{% load static %}
{% load url_replace %}
{% load i18n %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<div class="container">
    <form id="tag-search">
        <div class="row">
            <div class="four columns">
                {{ form.query }}
            </div>
            <div class="four columns">
                {{ form.project }}
            </div>
            <div class="two columns">
                <input class="u-full-width button-primary" type="submit" value="{% trans 'Submit' %}">
            </div>
        </div>
        <div class="row">
            <div class="three columns" style="margin-right: 2em">
                {{ form.startdate.label }}
                {{ form.startdate }}
            </div>
            <div class="three columns">
                {{ form.enddate.label }}
                {{ form.enddate }}
            </div>
        </div>
        <div class="row">
            <button type="button" onclick="showAdvance()">
                {% comment %} Translators: This labels a button which display more filters for search.  {% endcomment %}
                {% trans "More Filters" %}
            </button>
        </div>
        <div class="row" id="adv" style="display: none">
            <div style="margin-right: 2em">
                {{ form.search_type.label }}
                {{ form.search_type }}
                &nbsp;
                <div class="tooltip">&nbsp; ?
                    <span class="tooltiptext">
                        {% comment %} Translators: Text to be displayed when user hovers on a question mark beside type field. When searching for multiple hashtags, 'Subset' means that we show results containing *any* of those listed, and 'Union' means we show results containing *all* of them. {% endcomment %}
                        {% trans "When searching for multiple hashtags, should the results be a subset or union?" %}
                    </span>
                </div>
            </div>
            <div style="margin-right: 2em">
                {{ form.user.label }}
                {{ form.user }}
            </div>
        </div>
    </form>
    {% if not hashtags %}
    <h3>{% trans "No data found." %}</h3>

    {% else %}
    <div class="info">
        <div class="row">
            <div class="two-thirds column">
                <h2>
                    {% for query in hashtag_query_list %}
                    #{{ query }}
                    {% endfor %}
                </h2>
                <h2>Statistics</h2>
                <a href="/?{{ query_string }}">
                    <button>
                        {% comment %} Translators: This labels a button to display a list of results. {% endcomment %}
                        {% trans "Show list" %}
                    </button></a>
            </div>
            <div class="one-third column">
                {% include "hashtags/stats_table.html" %}
            </div>
        </div>
    </div>
    <div id="top_projects">
        <hr>
        <div class="row">
            <h1>
                {% comment %} Translators: This is the title of the section which displays a graph of top ten projects. {% endcomment %}
                {% trans "Top projects" %}
            </h1>
        </div>
        <div class="row">
            <div class="two-thirds column">
                <div align="center" id="loader1">
                    <img type="image/gif" src="{% static 'loader.gif' %}">
                </div>
                <canvas id="projectsChart" width="400" height="400"></canvas>
            </div>
            <div class="one-third column">
                <a href="/projects_csv/?{{ query_string }}">
                    <button>
                        {% comment %} Translators: This labels a button to download the data in CSV format. {% endcomment %}
                        {% trans "Download CSV" %}
                    </button>
                </a>
                <a id="projects_url" class="downloadAnchor">
                    <button>
                        {% comment %} Translators: This labels a button to download the data in JPG format. {% endcomment %}
                        {% trans "Download JPG" %}
                    </button>
                </a>
                </a>
                <a href="/all_projects/?{{ query_string }}">
                    <button>
                        {% comment %} Translators: This labels a button which takes users to full statistics page. {% endcomment %}
                        {% trans "View Full Stats" %}
                    </button>
                </a>
            </div>
        </div>
    </div>
    <div id="top_users">
        <hr>
        <div class="row">
            <h1>
                {% comment %} Translators: This is the title of the section which displays a graph of top ten users. {% endcomment %}
                {% trans "Top users" %}
            </h1>
        </div>
        <div class="row">
            <div class="two-thirds column">
                <div align="center" id="loader2">
                    <img type="image/gif" src="{% static 'loader.gif' %}">
                </div>
                <canvas id="usersChart" width="400" height="400"></canvas>
            </div>
            <div class="one-third column">
                <a href="/users_csv/?{{ query_string }}">
                    <button>
                        {% comment %} Translators: This labels a button to download the data in CSV format. {% endcomment %}
                        {% trans "Download CSV" %}
                    </button>
                </a>
                <a id="users_url" class="downloadAnchor">
                    <button>
                        {% comment %} Translators: This labels a button to download the data in JPG format. {% endcomment %}
                        {% trans "Download JPG" %}
                    </button>
                </a>
                <a href="/all_users/?{{ query_string }}">
                    <button>
                        {% comment %} Translators: This labels a button which takes users to full statistics page. {% endcomment %}
                        {% trans "View Full Stats" %}
                    </button>
                </a>    
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <h1>
            {% comment %} Translators: This is the title of the section which displays a graph of edits with respect to time. {% endcomment %}
            {% trans "Edits over time" %}
        </h1>
    </div>
    <div class="row">
       <button name="dailyTimeChart" class="view-type" value="daily">
            {% comment %} Translators: This labels a button to change to daily view. {% endcomment %}
            {% trans "Daily" %}
       </button>&emsp;
       <button name="monthlyTimeChart" class="view-type" value="monthly">
            {% comment %} Translators: This labels a button to change to monthly view. {% endcomment %}
            {% trans "Monthly" %}
        </button>&emsp;
       <button name="yearlyTimeChart" class="view-type" value="yearly">
            {% comment %} Translators: This labels a button to change to yearly view. {% endcomment %}
            {% trans "Yearly" %}
        </button>
    </div>
    <div class="row">
        <div align="center" id="loader3">
            <img type="image/gif" src="{% static 'loader.gif' %}">
        </div>
        <div>
            <canvas class="timeChart" id="dailyTimeChart" status="not-loaded" width="400" height="400"></canvas>
        </div>
        <div>
            <canvas class="timeChart" id="monthlyTimeChart" status="not-loaded" width="400" height="400"></canvas>
        </div>
        <div>
            <canvas class="timeChart" id="yearlyTimeChart" status="not-loaded" width="400" height="400"></canvas>
        </div>
        <div class="row download-edits">
            <a href="/time_csv/?{{ query_string }}">
                <button>
                    {% comment %} Translators: This labels a button to download the data in CSV format. {% endcomment %}
                    {% trans "Download CSV" %}
                </button>
            </a>
            <a id="time_url" class="downloadAnchor">
                <button>
                    {% comment %} Translators: This labels a button to download the data in JPG format. {% endcomment %}
                    {% trans "Download JPG" %}
                </button>
            </a>
        </div>
    </div>
    <hr>
    <script> var url_param = '{{ query_string }}'; </script>
    <script src="{% static 'js/graph.js' %}"></script>
    {% endif %}
</div>
{% endblock content %}
