{% extends "hashtags/base.html" %}
{% load static %}
{% load url_replace %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="info">
        <a href="/?{{ query_string }}">
            {% comment %} Translators: This is link to go back to search results. {% endcomment %}
            {% trans "Back to search results" %}
        </a>
        <div class="row">
            <div class="two-thirds column">
            <h2>
                {% for query in hashtag_query_list %}
                #{{ query }}
                {% endfor %}
            </h2>
            <h2>Projects</h2>
            </div>
            <div class="one-third column">
                {% include "hashtags/stats_table.html" %}
            </div>
        </div>
    </div>
    <table class="u-full-width tablesorter">
        <thead>
            <tr>
                <th>
                    {% comment %} Translators: Wikimedia project. {% endcomment %}
                    {% trans "Project" %}
                </th>
                <th>
                    {% comment %} Translators: Edits done on wikimedia projects. {% endcomment %}
                    {% trans "Edits" %}
                </th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects_list %}
            <tr>
                <td><a href="https://{{ project.domain }}">{{ project.domain }}</a></td>
                <td>{{ project.edits }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <a href="/projects_csv/?{{ query_string }}">
            <button>
                {% comment %} Translators: This labels a button to download the data in CSV format. {% endcomment %}
                {% trans "Download CSV" %}
            </button>
        </a>
    </div>
</div>
{% endblock content %}