{% extends "hashtags/base.html" %}
{% load static %}
{% load url_replace %}

{% block content %}
<div class="container">
    <div class="info">
        <div class="row">
            <div class="two-thirds column">
            <h2>
                {% for query in hashtag_query_list %}
                #{{ query }}
                {% endfor %}
            </h2>
            <h2>Users</h2>
            </div>
            <div class="one-third column">
                <p class="stats-date-range">{{ oldest }} - {{ newest }}</p>
                <table class="stats-table">
                    <tr>
                        <td class="stat">{{ revisions }}</td>
                        <td class="stat-label">revision{{ revisions|pluralize:"s" }}</td>
                    </tr>
                    <tr>
                        <td class="stat">{{ pages }}</td> 
                        <td class="stat-label">page{{ pages|pluralize:"s" }}</td>
                    </tr>
                    <tr>
                        <td class="stat">{{ users }}</td>
                        <td class="stat-label">user{{ users|pluralize:"s" }}</td>
                    </tr>
                    <tr>
                        <td class="stat">{{ projects }}</td>
                        <td class="stat-label">project{{ projects|pluralize:"s" }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <table class="u-full-width tablesorter">
        <thead>
            <tr>
                <th>User</th>
                <th>Edits</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users_list %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.edits }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="row results">
        <div class="offset-by-three two columns">
          {% if page_obj.has_previous %}
            <a href="?{% url_replace page=page_obj.previous_page_number %}" class="button">Previous</a>
          {% else %}
          &nbsp;
          {% endif %}
        </div>
        <div class="two columns">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </div>
        <div class="two columns">
          {% if page_obj.has_next %}
            <a href="?{% url_replace page=page_obj.next_page_number %}" class="button">Next</a>
          {% endif %}
        </div>
    </div>
    <div class="row">
        <a href="/users_csv/?{{ query_string }}"><button>Download CSV</button></a>
    </div>
</div>
{% endblock content %}