{% extends "hashtags/base.html" %}
{% load static %}
{% load url_replace %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="info">
        <a href="/?{{ query_string }}">
            {% comment %} Translators: This is the label for a link which goes back to the full search results. {% endcomment %}
            {% trans "Back to search results" %}
        </a>
        <div class="row">
            <div class="two-thirds column">
            <h2>
                {% for query in hashtag_query_list %}
                #{{ query }}
                {% endfor %}
            </h2>
            <h2>{% trans "Users" %}</h2>
            </div>
            <div class="one-third column">
                {% include "hashtags/stats_table.html" %}
            </div>
        </div>
    </div>
    <table class="u-full-width tablesorter">
        <thead>
            <tr>
                <th>
                    {% comment %} Translators: User of the hashtag. {% endcomment %}
                </th>
                <th>
                    {% comment %} Translators: Edits done on wikimedia projects. {% endcomment %}
                    {% trans "Edits" %}
                </th>
            </tr>
        </thead>
        <tbody>
            {% for user in users_list %}
            <tr>
                <td><a href="https://meta.wikimedia.org/wiki/User:{{ user.username }}">{{ user.username }}</a></td>
                <td>{{ user.edits }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="center">
        <div class="pagination">
            {% if page_obj.has_previous %}
                <a href="?{% url_replace page=page_obj.previous_page_number %}">{% trans "Previous" %}</a>
            {% endif %}
            {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                    <a href="?{% url_replace page=i %}" class="active">{{ i }}</a>
                {% else %}
                    <a href="?{% url_replace page=i %}">{{ i }}</a>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <a href="?{% url_replace page=page_obj.next_page_number %}">{% trans "Next" %}</a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <a href="/users_csv/?{{ query_string }}">
            <button>
                {% comment %} Translators: This labels a button to download the data in CSV format. {% endcomment %}
                {% trans "Download CSV" %}
            </button>
        </a>
    </div>
</div>
{% endblock content %}