{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>{% trans "Wikimedia Hashtags tool" %}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="icon" type="image/png" href="{% static "favicon.ico" %}">
  <link rel="stylesheet" href="{% static "css/normalize.css" %}">
  <link rel="stylesheet" href="{% static "css/skeleton.css" %}">
  <link rel="stylesheet" href="{% static "css/style.css" %}">

</head>
<body>
  <div class="section page-header">
    <div class="container">
      <div class="row">
	      <div class="full column" style="margin-top: 5%">
            <h1><a href="{% url 'index' %}">{% trans "Wikimedia hashtag search" %}</a></h1>
          	<p>{% trans "Search for" %}<a href="http://blog.hatnote.com/post/112756032432/the-humble-hashtag-now-on-wikipedia">{% trans " hashtags" %}</a>{% trans " in Wikimedia edit summaries" %}</p>
	      </div>
      </div>
    </div>
  </div>

  {% block content %}
  {% endblock %}

  <div class="section page-footer">
    <div class="container">
      <div class="row">
        <div class="full width">
          <p><a href="{% url 'docs' %}">{% trans "Learn more" %}</a>{% trans ". Built by " %}<a href="https://twitter.com/sklaporte">{% trans "Stephen LaPorte" %}</a>, <a href="https://twitter.com/mhashemi">{% trans "Mahmoud Hashemi" %}</a>{% trans ", and" %}<a href="https://twitter.com/Samwalton9">{% trans " Sam Walton" %}</a>{% trans ". Our source code is " %}<a href="https://github.com/samwalton9/hashtags">{% trans "available on github" %}</a>.</p>
          <p><a href="https://phabricator.wikimedia.org/maniphest/task/edit/form/1/?tags=hashtags">{% trans "Report a bug" %}</a>.</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
