{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>{% trans "Wikimedia Hashtags tool" %}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="icon" type="image/png" href="{% static "favicon.ico" %}">
  <link rel="stylesheet" href="{% static "css/normalize.css" %}">
  <link rel="stylesheet" href="{% static "css/skeleton.css" %}">
  <link rel="stylesheet" href="{% static "css/style.css" %}">

</head>
<body>
  <div class="section page-header">
    <div class="container">
      <div class="row">
	      <div class="full column" style="margin-top: 5%">
            <h1><a href="{% url 'index' %}">{% trans "Wikimedia hashtag search" %}</a></h1>
          	<p>{% blocktrans %} Search for <a href="http://blog.hatnote.com/post/112756032432/the-humble-hashtag-now-on-wikipedia">hashtags</a> in Wikimedia edit summaries {% endblocktrans %}</p>
	      </div>
      </div>
    </div>
  </div>

  {% block content %}
  {% endblock %}

  <div class="section page-footer">
    <div class="container">
      <div class="row">
        <div class="full width">
          <p><a href="{% url 'docs' %}">{% blocktrans %}Learn more</a>. Built by <a href="https://blog.hatnote.com/">Hatnote</a>, <a href="https://meta.wikimedia.org/wiki/The_Wikipedia_Library">The Wikipedia Library</a>, and <a href="https://github.com/WikipediaLibrary/hashtags/graphs/contributors">contributors</a>. Our source code is <a href="https://github.com/WikipediaLibrary/hashtags"> available on github {% endblocktrans %}</a>.</p>
          <p><a href="https://phabricator.wikimedia.org/maniphest/task/edit/form/1/?tags=hashtags">{% trans "Report a bug" %}</a>.</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
