{% extends "hashtags/base.html" %}
{% load static %}
{% load url_replace %}

{% block content %}
<div class="container">
    <form id="tag-search">
        <div class="row">
            <div class="four columns">
                {{ form.query }}
            </div>
            <div class="four columns">
                {{ form.project }}
            </div>
            <div class="two columns">
                <input class="u-full-width button-primary" type="submit" value="Submit">
            </div>
        </div>
        <div class="row">
            <div class="three columns" style="margin-right: 2em">
                {{ form.startdate.label }}
                {{ form.startdate }}
            </div>
            <div class="three columns">
                {{ form.enddate.label }}
                {{ form.enddate }}
            </div>
        </div>
    </form>
    {% if not hashtags %}
    <h3>No data found.</h3>

    {% else %}
    <div class="info">
        <div class="row">
            <div class="two-thirds column">
                <h2>
                    {% for query in hashtag_query_list %}
                    #{{ query }}
                    {% endfor %}
                </h2>
                <h2>Statistics</h2>
            </div>
            <div class="one-third column">
                <p class="stats-date-range">{{ oldest }} - {{ newest }}</p>
                <table class="stats-table">
                    <tr>
                        <td class="stat">{{ revisions }}</td>
                        <td class="stat-label">revision{{ revisions|pluralize:"s" }}</td>
                    </tr>
                    <tr>
                        <td class="stat">{{ pages }}</td> 
                        <td class="stat-label">page{{ pages|pluralize:"s" }}</td>
                    </tr>
                    <tr>
                        <td class="stat">{{ users }}</td>
                        <td class="stat-label">user{{ users|pluralize:"s" }}</td>
                    </tr>
                    <tr>
                        <td class="stat">{{ projects }}</td>
                        <td class="stat-label">project{{ projects|pluralize:"s" }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <hr>
    {% endif %}
</div>
{% endblock content %}