{% extends "hashtags/base.html" %}
{% load static %}
{% load url_replace %}

{% block content %}
  <div class="container">
    {% if messages %}
        {% for message in messages %}
          <div class="info">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <div class="row">
      {% comment %} We show a different search bar if there are results vs not. {% endcomment %}
      {% if not hashtags %}
        <div class="eight columns">
  	      <form id="tag-search">
  	        <div class="row">
  	          <div class="seven columns">
                {{ form.query.label }}
  	            {{ form.query }}
  	          </div>
  	          <div class="five columns">
                {{ form.project.label }}
                {{ form.project }}
  	          </div>
  	        </div>
            <div class="row">
              <div class="three columns" style="margin-right: 2em">
                {{ form.startdate.label }}
                {{ form.startdate }}
              </div>
              <div class="three columns">
                {{ form.enddate.label }}
                {{ form.enddate }}
              </div>
            </div>
            <div class="row">
              <button type="button" onclick="showAdvance()">More Filters</button>
            </div>
            <div class="row" id="adv" style="display: none">
              <div style="margin-right: 2em" title="When searching for multiple hashtags, should the results be a subset or union?">
                {{ form.search_type.label }}
                {{ form.search_type }}
              </div>
              <div style="margin-right: 2em">
                {{ form.user.label }}
                {{ form.user }}
              </div>
            </div>
  	        <div class="row">
  	          <div class="six columns">
  	            <input class="button-primary" type="submit" value="Submit">
  	          </div>
  	        </div>
  	      </form>
        </div>
        <div class="four columns">
          <div class="info">
            <h3>Trending tags</h3>
            <ol>
              {% for tag in top_tags %}
                <li><a href="?query={{ tag }}">{{ tag }}</a></li>
              {% endfor %}
            </ol>
          </div>
          <p></p>
        </div>
      {% else %}
        <form id="tag-search">
          <div class="row">
            <div class="four columns">
              {{ form.query }}
            </div>
            <div class="four columns">
              {{ form.project }}
            </div>
            <div class="two columns">
              <input class="u-full-width button-primary" type="submit" value="Submit">
            </div>
          </div>
          <div class="row">
            <div class="three columns" style="margin-right: 2em">
              {{ form.startdate.label }}
              {{ form.startdate }}
            </div>
            <div class="three columns">
              {{ form.enddate.label }}
              {{ form.enddate }}
            </div>
          </div>
          <div class="row">
              <button type="button" onclick="showAdvance()">More Filters</button>
          </div>
          <div class="row" id="adv" style="display: none">
              <div style="margin-right: 2em" title="When searching for multiple hashtags, should the results be a subset or union?">
                  {{ form.search_type.label }}
                  {{ form.search_type }}
              </div>
              <div style="margin-right: 2em">
                  {{ form.user.label }}
                  {{ form.user }}
              </div>
          </div>
        </form>
        <div class="info">
          <div class="row">
            <div class="two-thirds column">
              <h2>
                {% for query in hashtag_query_list %}
                  #{{ query }}
                {% endfor %}
              </h2>
                <a href="graph/?{{ query_string }}"><button>Show statistics</button></a><br>
                <a href="csv/?{{ query_string }}"><button>Download CSV</button></a>
            </div>
            <div class="one-third column">
              {% include "hashtags/stats_table.html" %}
            </div>
          </div>
        </div>
        <table class="u-full-width tablesorter" id="rc-table">
          <thead>
            <tr>
              <th>Page</th>
              <th>User</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
          {% for hashtag in hashtags %}
            <tr>
              <td>
                <p class="title">
                  <a href="https://{{ hashtag.domain }}/wiki/{{ hashtag.page_title }}">{{ hashtag.page_title }}</a>
                  <span class="lang">({{ hashtag.domain }})</span>
                </p>
                <p class="comment">{{ hashtag.edit_summary }}</p>
              </td>
              <td class="no-wrap"><a href="https://{{ hashtag.domain }}/wiki/User:{{ hashtag.username }}">{{ hashtag.username }}</a></td>
              <td class="no-wrap">
              {% if hashtag.rev_id %}
                <a href="https://{{ hashtag.domain }}/wiki/Special:Diff/{{ hashtag.rev_id }}">
                  {{ hashtag.timestamp }}
                </a>
              {% else %}
                {{ hashtag.timestamp }}
              {% endif %}
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        <div class="row results">
          <div class="offset-by-three two columns">
            {% if page_obj.has_previous %}
              <a href="?{% url_replace page=page_obj.previous_page_number %}" class="button">Previous</a>
            {% else %}
            &nbsp;
            {% endif %}
          </div>
          <div class="two columns">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
          </div>
          <div class="two columns">
            {% if page_obj.has_next %}
              <a href="?{% url_replace page=page_obj.next_page_number %}" class="button">Next</a>
            {% endif %}
          </div>
        </div>
      {% endif %}
    </div>
    <div class="row">
      <p></p>
    </div>
  </div>
{% endblock content %}
